server:
  port: 8082

spring:
  application:
    name: shipment-service
  datasource:
    url: jdbc:h2:mem:shipments
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
